.promo
	padding: 100px 0
.slider
	position: relative
	width: 1050px
	height: 680px	
	margin: 0 auto
	overflow: hidden
	&_line
		display: flex
		position: relative
		left: 0
		transition: all ease 1s
		
		
.prev
	position: absolute
	top: 40%
	transform: translateY(-50%)
	left: 200px
	cursor: pointer
.next
	position: absolute	
	top: 40%
	transform: translateY(-50%)
	right: 200px
	cursor: pointer


