.promo
	padding: 100px 0

.slider
	position: relative
	width: 900px
	margin: 0 auto
	min-height: 300px
	overflow: hidden

.slider_line
	display: flex
	position: relative
	left: 0
	transition: all ease 1s

.prev
	position: absolute
	top: 50%
	transform: translateY(-50%)
	left: 300px
	cursor: pointer
	font-size: 50px

.next
	position: absolute
	top: 50%
	transform: translateY(-50%)
	right: 300px
	cursor: pointer
	font-size: 50px